
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Homepage.cshtml";
}

<div class="container">
    <!-- start: page -->
    <div class="timeline">
        <div class="tm-body">
            <div class="tm-title">
                <h5 class="m-0 pt-2 pb-2 text-uppercase">BLOG</h5>
            </div>
            <ol class="tm-items">
                @foreach (var item in Model)
                {
                    <li>
                        <div class="tm-info">
                            <div class="tm-icon appear-animation" data-appear-animation="flip" data-appear-animation-delay="50"><i class="fab fa-blogger-b"></i></div>
                            <time class="tm-datetime appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="50" datetime="2017-11-19 18:13">
                                <div class="tm-datetime-date">@item.Time.ToString("MM/dd/yyyy")</div>
                                <div class="tm-datetime-time">@item.Time.ToString("hh:mm tt")</div>
                            </time>
                        </div>
                        <div class="tm-box appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="50">
                            <h2 class="mt-0">@item.Title</h2>
                            <p>
                                @item.Text
                            </p>
                            <div class="card-footer text-right">
                               @* <a href="/Home/EnterBlog/@item.ID" type="button" class="mb-1 mt-1 mr-1 btn btn-default"><i class="fas fa-sync"></i> Update</a>*@
                                <a href="/Home/BlogDelete/@item.ID" class="mb-1 mt-1 mr-1 btn btn-danger right"><i class="far fa-trash-alt"></i> Delete</a>
                            </div>
                        </div>
                        
                    </li>
                }


            </ol>
        </div>
    </div>
    <!-- end: page -->
</div>

