
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Homepage.cshtml";
}

<div class="container">
    <!-- start: page -->
    <div class="timeline">
        <div class="tm-body">
            <div class="tm-title">
                <h5 class="m-0 pt-2 pb-2 text-uppercase">BLOG</h5>
            </div>
            <ol class="tm-items">

                <li>
                    <div class="tm-info">
                        <div class="tm-icon"><i class="fab fa-blogger-b"></i></div>
                        <time class="tm-datetime" datetime="2017-11-19 18:13">
                            <div class="tm-datetime-date">7 months ago</div>
                            <div class="tm-datetime-time">06:13 PM</div>
                        </time>
                    </div>
                    <div class="tm-box appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="250">
                        <h2 class="mt-0">Başlık</h2>
                        <p>
                            What is your biggest developer pain point?<BR />
                            What is your biggest developer pain point?<BR />
                            What is your biggest developer pain point?<BR />
                        </p>
                    </div>
                </li>
                <li>
                    <div class="tm-info">
                        <div class="tm-icon"><i class="fab fa-blogger-b"></i></div>
                        <time class="tm-datetime" datetime="2017-11-19 18:13">
                            <div class="tm-datetime-date">7 months ago</div>
                            <div class="tm-datetime-time">06:13 PM</div>
                        </time>
                    </div>
                    <div class="tm-box appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="250">
                        <p>
                            What is your biggest developer pain point?
                        </p>
                    </div>
                </li>
            </ol>
        </div>
    </div>
    <!-- end: page -->
</div>

