
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Homepage.cshtml";
}

<!-- start: page -->
<section class="body-sign">
    <div class="center-sign">

        <div class="panel card-sign">
            <div class="card-title-sign mt-3 text-right">
                <h2 class="title text-uppercase font-weight-bold m-0 bg-success"><i class="fas fa-user mr-1"></i> Sign Up</h2>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group mb-3">
                        <label>Name</label>
                        <input name="name" type="text" class="form-control form-control-lg" />
                    </div>

                    <div class="form-group mb-3">
                        <label>E-mail Address</label>
                        <input name="email" type="email" class="form-control form-control-lg" />
                    </div>

                    <div class="form-group mb-0">
                        <div class="row">
                            <div class="col-sm-12 mb-3">
                                <label>Password</label>
                                <input name="pwd" type="password" class="form-control form-control-lg" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8">

                        </div>
                        <div class="col-sm-4 text-right">
                            <button type="submit" class="btn btn-success mt-2">Sign Up</button>
                        </div>
                    </div>


                    <hr class="mt-3 mb-3 line text-center text-uppercase">

                    <p class="text-center ">Already have an account? <a href="/Home/SignIn" class="text-success">Sign In!</a></p>

                </form>
            </div>
        </div>

        <p class="text-center text-muted mt-3 mb-3">&copy; Copyright 2019. All Rights Reserved.</p>
    </div>
</section>
<!-- end: page -->
